<%= search_form_for q, url: tasks_url, html: { data: { turbo_frame: "tasks" } } do |f| %>
  <div class="mb-3">
    <%= f.search_field :title_cont, placeholder: t(".search_by_title"), class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
