<div id="search-form">
  <%= render "search_form", q: @q %>
</div>

<%= turbo_frame_tag 'create-form' do %>
  <%= render "form", task: @task %>
<% end %>

<div id="tasks">
  <%= render partial: "task", collection: @tasks %>
</div>
